.App{
    overflow: hidden;
}

.popup .modal {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
}

.popup .modal .modal-dialog{
    top: 40%;
    transform: translateY(-40%);
}

.edit-listItem,
.delete-listItem {
    cursor: pointer;
    margin: 0px 8px;
}